<div id="v">
    <h2>Impact in USA:</h2><br>
    <img src="./assets/images/ucase.png" alt="no img" style="float: right;" width="20%" height="20%">
    <p>COVID-19 is expected to affect a number of US-based companies with operations in China and other coronavirus-affected countries. Coronavirus impact on the US economy is, however, yet to be fully estimated.</p>
    <p>Larry Kudlow, National Economic Council Director, noted that the economic impact of the coronavirus outbreak will be minimal on the US. The U.S. Federal Reserve, however, noted that the outbreak could result in elevated asset values and low-grade corporate debt, which may impact the already shrinking economic growth in the US.</p>
    <p>US-based aircraft manufacturer Boeing has announced that fall in demand from airlines would affect new plane deliveries in Q1 2020.</p>
    <p>Pharmaceutical and medical device industries, apart from tourism, are also likely to be affected by the outbreak spreading to other countries on which US companies are dependent, such as EU nations and India.</p>
    <h2>Impact on Tourism:</h2>
    <p>China accounted for the third-highest volume of overseas visitors to the US in 2018 after the UK and Japan, according to the US Travel Association. Chinese tourists spent approximately $34.6bn in 2018 during their visit to the US. The data also indicates that the trade deficit between the two countries would be 7.2% higher without the inbound travel from China.</p>
    <p>Inbound travel from China declined by 2.2% during the first six months of 2019 due to the US-China trade war and is forecast to further decline in 2020 due to the coronavirus outbreak.</p>
</div>