<div class="card-deck">
    <div class="card" style="width:200px">
        <h5 class="card-header" style="text-align: center;">Symptoms</h5>
        <img src="./assets/images/sym.jpg" alt=" no img" class="card-img-top" width="5px" height="200px" >
        <div class="card-body">
          <h3>Common Symptoms:</h3>
            <ul>
              <li>Fever</li>
              <li>Dry Cough</li>
              <li>Tiredness</li>
            </ul>
            <h3>Sever Symptoms:</h3>
            <ul>
              <li>Difficulty breathing or shortness of breath</li>
              <li>Chest pain or pressure</li>
              <li>Loss of speech or movement</li>
            </ul>
        </div>
    </div>
    

    <div class="card" style="width:200px">
        <h5 class="card-header" style="text-align: center;">Prevention</h5>
        <img src="./assets/images/pre.svg" alt=" no img" class="card-img-top" width="150px" height="150px">
        <div class="card-body">
            <ul>
              <li><p>Wear a mask. Save lives.</p></li>
              <li><p>Wear a face cover</p></li>
              <li><p>Wash your hands</p></li>
              <li><p>Keep a safe distance</p></li>
            </ul>      
        </div>
    </div>
    <div class="card" style="width:200px">
        <h5 class="card-header" style="text-align: center;">Treatment</h5>
        <img src="./assets/images/treatment.jpg" alt=" no img" class="card-img-top" width="150px" height="150px">
        <div class="card-body">
            <p>If you feel sick you should rest, drink plenty of fluid, and eat nutritious food. Stay in a separate room from other family members, and use a dedicated bathroom if possible. Clean and disinfect frequently touched surfaces.</p>
                   <p>Everyone should keep a healthy lifestyle at home. Maintain a healthy diet, sleep, stay active, and make social contact with loved ones through the phone or internet. Children need extra love and attention from adults during difficult times. Keep to regular routines and schedules as much as possible.</p>   
            
        </div>
    </div>
  </div>


















